@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FryzjerPL</title>

    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-purple-pink sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-cut"></i>
                </div>
                <div class="sidebar-brand-text mx-3">FryzjerPL</div>
            </a>

            <hr class="sidebar-divider my-0" />

            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i>
                    <span>@Localizer["Main page"]</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Worker" asp-action="Index">
                    <i class="fas fa-user-friends"></i>

                    <span>@Localizer["Employees"]</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Services" asp-action="Index">
                    <i class="fas fa-concierge-bell"></i>
                    <span>@Localizer["Services"] </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Reservations" asp-action="Index">
                    <i class="fas fa-calendar-check"></i>

                    <span>@Localizer["Reservations"]</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Client" asp-action="Index">
                    <i class="fas fa-users"></i>
                    <span>@Localizer["Clients"]</span>
                </a>

            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="Index">
                    <i class="fas fa-users"></i>

                    <span>@Localizer["Administrator"]</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block" />
        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <nav class="navbar navbar-expand bg-gradient-purple-pink-horizontal topbar mb-4 static-top shadow">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <partial name="_LoginPartial" />
                        </li>
                        <li class ="nav-item" style="align-content: center">
                            <a href="?culture=pl-PL&ui-culture=pl-PL" style="text-decoration: none">Polski</a> |
                            <a href="?culture=en-US&ui-culture=en-US" style="text-decoration: none">English</a>
                        </li>
                    </ul>
                </nav>

                <div class="container-fluid">
                    @RenderBody()
                </div>

            </div>

            <footer class="sticky-footer bg-white mt-auto">
                <div class="container my-auto">
                    <div class="text-center my-auto">
                        <span>&copy; 2025 - FryzjerPL</span>
                    </div>
                </div>
            </footer>
        </div>

    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
